.mapping {
  pointer-events: none;
}
#map {
  height: 500px;
}
.simple-keyboard-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.simple-keyboard.hg-theme-default {
  display: none;
  background-color: beige;
}
