* {
  box-sizing: border-box;
}
h5 {
  text-align: center;
  font-size: 2em;
}
h6 {
  line-height: 30px !important;
  font-size: 30px !important;
}
.wrapper-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wrapper-flex__item:last-child {
  position: relative;
  flex-grow: 1;
}
.map-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
#map {
  width: 100%;
  height: 100%;
}
.text-modifier,
.simple-keyboard.hg-theme-default {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  /*line-height: 2.2em;*/
}
.simple-keyboard.hg-theme-default {
  display: none;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.search-container {
  position: relative;
  height: 50px;
  border-radius: 17px;
  border: 2px solid #3bcaf2;
}
.search-container input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  font-size: 27px;
  padding: 0 50px 0 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  text-transform: uppercase;
}
.search-container input::placeholder {
  color: black;
}
.search-container input:focus {
  outline: 0;
}
.search-container button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background: #ddd;
  font-size: 27px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}
.flex-info {
  display: flex;
  margin: 0 -10px;
}
.flex-info__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}
.flex-info__item.time {
  min-width: 130px;
  /*align-items: center;*/
}
.flex-info__item.time span {
  font-size: .5em;
  display: block;
}
.flex-info__item.name {
  min-width: 100px;
}
.flex-info__item.route {
  flex-grow: 1;
}
.urban {
  overflow: hidden;
  line-height: 24px;
}
.urban img {
  float: left;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.coral {
  color: red;
}
.blink {
  animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}
