.route-list
  flex-grow 1
  margin 20px 0
  overflow hidden
  &__item
    row-flex()
    justify-content space-between
    align-items center
    padding 20px 0
    &:not(:first-child)
      border-top 3px solid rgba(c-black, .25)
  &__button
    col()
    col-size(7)
  &__route
    col()
    col-size(12)
    color cp-black
    font-size 30px
    font-weight 400
    letter-spacing 0.9px
    line-height 45px
    text-transform lowercase
  &__time
    col()
    col-size(5)
    color c-black
    font-size 50px
    font-weight 700
    text-align right
