mixin route-list-item(route)
  - var time = (route.time) ? (route.time + ' мин') : '';
  a.route-list__item(href="./03.php")
    .route-list__button
      +button-route(route.number, route.type)
    .route-list__route #{route.route}
    .route-list__time #{time}

mixin route-list()
  .route-list
    .l-wrapper(data-scrollbar)
      #output-all
      //- each route in content.routeList
      //-   +route-list-item(route)
