<div class="route-short">
  <div class="l-wrapper" id="short">
    @if (routesShort.length) {
      <div class="route-short__wrapper">
        @for (route of routesShort; track route.route) {
          <a class="route-short__item" [routerLink]="'/detail/' + route.id">
            <span class="route-short__button">
              <app-button-route
                [number]="route.name"
                [type]="route.type"
                [short]="true"
              ></app-button-route>
              <span class="route-short__time">
                {{ route.time ? route.time + ' мин' : '' }}
              </span>
            </span>
          </a>
        }
      </div>
    } @else {
      <app-empty></app-empty>
    }
  </div>
</div>
