<div class="route-short">
  <div class="l-wrapper" id="short">
    @if (routes.length) {
      <div class="route-short__wrapper">
        @for (route of routes; track route.route) {
          <a
            class="route-short__item"
            [routerLink]="'/detail/' + route.type + '/' + route.number"
          >
            <span class="route-short__button">
              <app-button-route
                [number]="route.number"
                [type]="route.type"
                [short]="true"
              ></app-button-route>
              <span class="route-short__time">
                {{ route.time ? route.time + ' мин' : '' }}
              </span>
            </span>
          </a>
        }
      </div>
    } @else {
      <app-empty></app-empty>
    }
  </div>
</div>
