@import '../../../grid';

.route-list {
  flex-grow: 1;
  margin: 20px 0;
  overflow: hidden;

  &__item {
    @include row-flex();
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &:not(:first-child) {
      border-top: 3px solid var(--c-black-border);
    }
  }
  &__button {
    @include col();
    @include size(7);
  }
  &__route {
    @include col();
    @include size(12);
    color: var(--color-black);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.9px;
    line-height: 45px;
    text-transform: uppercase;
  }

  &__time {
    @include col();
    @include size(5);
    color: var(--c-black);
    font-size: 50px;
    font-weight: 700;
    text-align: right;
  }
}
