<div class="route-list">
  <ngx-simplebar id="output-all" class="l-wrapper">
    @for (route of routes; track route.route) {
      <a [routerLink]="'/detail/' + route.id" class="route-list__item">
        <div class="route-list__button">
          <app-button-route
            [number]="route.name"
            [type]="route.type"
          ></app-button-route>
        </div>
        <div class="route-list__route">{{ route.route }}</div>
        <div class="route-list__time">
          {{ route.time ? route.time + ' мин' : '' }}
        </div>
      </a>
    }
  </ngx-simplebar>
</div>
