<div class="route-list">
  <ngx-simplebar id="output-all" class="l-wrapper">
    @for (route of routeList; track route.route) {
      <a
        [routerLink]="'/detail/' + route.type + '/' + route.number"
        class="route-list__item"
      >
        <div class="route-list__button">
          <app-button-route
            [number]="route.number"
            [type]="route.type"
          ></app-button-route>
        </div>
        <div class="route-list__route">{{ route.route }}</div>
        <div class="route-list__time">
          {{ route.time ? route.time + ' мин' : '' }}
        </div>
      </a>
    }
  </ngx-simplebar>
</div>
