mixin tabs()
  #superlist
  //- .tabs.js-tabs
  //-   .l-wrapper
  //-     .tabs__buttons
  //-       +tabs-button(12).b-active
  //-       +tabs-button(17)
  //-     .tabs__detail
  //-       +tabs-detail()

mixin tabs-button(text)
  .tabs__button.js-tab&attributes(attributes) около #{text} МИН

mixin tabs-detail()
  ul.tabs__list
    +tabs-item("автобусы №2, 4, 64, 83. маршрутки №123, 128, 22, 261, 3, 50, 54, 64, 78, 86. троллейбусы №1, 10, 17, 19, 2, 26, 8 до остановки \"алое поле\" (около 2 мин в пути)")
    +tabs-item("автобус №51. маршрутки №17, 35, 40, 48, 53, 68. троллейбусы №12, 7 до остановки \"областная больница\" (около 10 мин в пути)")

mixin tabs-item(text)
  li.tabs__item #{text}
