mixin search()
  .search
    .l-wrapper
      .search__wrapper
        +button-search("./02.php", "Поиск маршрута")

mixin search-map()
  .search
    .l-wrapper
      .search__wrapper
        +button-back("./index.php")
        input.search__input#suggest(placeholder="Введите пункт назначения", autocomplete="off")
