// fonts
mainFont   = 'Roboto', sans-serif

// colors
c-black    = #000000 // чёрный
c-white    = #ffffff // белый

c-knapweed = #b3d4fc // бледно-васильковый
c-yellow   = #f5da55 // тусклый жёлтый

// project
cp-red1    = #fc3d0c
cp-red2    = #ef552e
cp-red3    = #f5613c
cp-blue1   = #083b9a
cp-blue2   = #084ac4
cp-blue3   = #2c66d1
cp-blue4   = #658ed9
cp-bedge1  = #e0e8f9
cp-bedge2  = #e4edfc
cp-gray1   = #b3b3b3
cp-gray2   = #707070
cp-gray3   = #434343
cp-black   = #010101

// flat colors
flat-turquoise     = #1abc9c
flat-emerland      = #2ecc71
flat-peterriver    = #3498db
flat-amethyst      = #9b59b6
flat-wetasphalt    = #34495e

flat-greensea      = #16a085
flat-nephritis     = #27ae60
flat-belizehole    = #2980b9
flat-wisteria      = #8e44ad
flat-midnightblue  = #2c3e50

flat-sunflower     = #f1c40f
flat-carrot        = #e67e22
flat-alizarin      = #e74c3c
flat-clouds        = #ecf0f1
flat-concrete      = #95a5a6

flat-orange        = #f39c12
flat-pumpkin       = #d35400
flat-pomegranate   = #c0392b
flat-silver        = #bdc3c7
flat-asbestos      = #7f8c8d

// social colors
social-facebook    = #3b5999
social-messenger   = #0084ff
social-twitter     = #55acee
social-linkedin    = #0077B5
social-skype       = #00AFF0
social-dropbox     = #007ee5

social-wordpress   = #21759b
social-vimeo       = #1ab7ea
social-slideshare  = #0077b5
social-vk          = #4c75a3
social-tumblr      = #34465d
social-yahoo       = #410093

social-googleplus  = #dd4b39
social-pinterest   = #bd081c
social-youtube     = #cd201f
social-stumbleupon = #eb4924
social-reddit      = #ff5700
social-quora       = #b92b27

social-yelp        = #af0606
social-weibo       = #df2029
social-producthunt = #da552f
social-hackernews  = #ff6600
social-soundcloud  = #ff3300
social-blogger     = #f57d00

social-whatsapp    = #25D366
social-wechat      = #09b83e
social-line        = #00c300
social-medium      = #02b875
social-vine        = #00b489
social-slack       = #3aaf85

social-instagram   = #e4405f
social-dribbble    = #ea4c89
social-flickr      = #ff0084
social-foursquare  = #f94877
social-behance     = #131418
social-snapchat    = #fffc00
