include mixins

//- Шапка
include ../app-components/header/header

//- Шаблоны
include ../app-components/templates/templates

//- Отладка сетки
include ../app-components/debug/debug

//- Кнопки
include ../app-components/button/button

//- Карта
include ../app-components/map/map

//- Список маршрутов
include ../app-components/route-list/route-list

//- Короткий список маршрутов
include ../app-components/route-short/route-short

//- Шапка детального списка маршрутов
include ../app-components/route-header/route-header

//- Детальный список маршрутов
include ../app-components/route-detail/route-detail

//- Поиск
include ../app-components/search/search

//- Блок с табами
include ../app-components/tabs/tabs

//- Заглушка
include ../app-components/empty/empty
