html {
  font-family: Roboto;
  text-transform: lowercase;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ececec;
}

h1 {
  color: #515151;
  font-size: 48px;
  font-weight: 700;
}

.wrapper {
  width: 984px;
  margin: 0 auto;
}

.transport table {
  width: 100%;
}

.transport table tr td {
  border-bottom: 2px solid #cac8c8;
}

.transport__title {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1.02px;
  padding: 30px 0 20px 90px;
  height: 60px;
  line-height: 50px;
  position: relative;
  text-align: left;
}

.transport__title::before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.transport__title.bus {
  color: #fc8c0c;
}

.transport__title.trol {
  color: #134cb5;
}

.transport__title.bus::before {
  background-color: #fc8c0c;
  background-image: url(i/bus.svg);
}

.transport__title.trol::before {
  background-color: #134cb5;
  background-image: url(i/trol.svg);
}

.transport__info {
  display: inline-block;
  padding: 20px 0;
}
.transport__info.time {
  width: 160px;
  color: #ff0000;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
}
.transport__info.name {
  width: 140px;
  color: #010101;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.9px;
}
.transport__info.route {
  color: #010101;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.84px;
}

.search {
  background-color: #cce2ff;
  padding: 30px 0;
  margin-top: -2px;
}

.search__row {
  display: flex;
  justify-content: space-between;
}

.search__input {
  box-sizing: border-box;
  width: 734px;
  height: 56px;
  border-radius: 10px;
  border: 2px solid #0c6eee;
  background-color: #ffffff;
  color: #010101;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.72px;
  background-repeat: no-repeat;
  background-position: 35px center;
  background-image: url(i/search.svg);
  padding-left: 90px;
}

.search__input::placeholder {
  color: #99a5b4;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.search__button {
  border: none;
  width: 202px;
  height: 56px;
  border-radius: 10px;
  background-color: #0c6eee;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.84px;
  cursor: pointer;
}

.search__input,
.search__button {
  outline: 0;
}
