<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Маршрут от точки на карте</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
      }
      #wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
      }
      #viewContainer {
        margin: 8px;
        flex-grow: 1;
        box-sizing: border-box;
        overflow-y: auto;
      }
      #map {
        flex-grow: 1;
      }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script>

      ymaps.modules.define('MultiRouteCustomView', ['util.defineClass'], function (provide, defineClass) {
          // Класс простого текстового отображения модели мультимаршрута.
          function CustomView (multiRouteModel) {
              this.multiRouteModel = multiRouteModel;
              // Объявляем начальное состояние.
              this.state = "init";
              this.stateChangeEvent = null;
              // Элемент, в который будет выводиться текст.
              this.outputElement = $('<div></div>').appendTo('#viewContainer');

              this.rebuildOutput();

              // Подписываемся на события модели, чтобы
              // обновлять текстовое описание мультимаршрута.
              multiRouteModel.events
                  .add(["requestsuccess", "requestfail", "requestsend"], this.onModelStateChange, this);
          }

          // Таблица соответствия идентификатора состояния имени его обработчика.
          CustomView.stateProcessors = {
              init: "processInit",
              requestsend: "processRequestSend",
              requestsuccess: "processSuccessRequest",
              requestfail: "processFailRequest"
          };

          // Таблица соответствия типа маршрута имени его обработчика.
          CustomView.routeProcessors = {
              "masstransit": "processMasstransitRoute"
          };

          defineClass(CustomView, {
              // Обработчик событий модели.
              onModelStateChange: function (e) {
                  // Запоминаем состояние модели и перестраиваем текстовое описание.
                  this.state = e.get("type");
                  this.stateChangeEvent = e;
                  this.rebuildOutput();
              },

              rebuildOutput: function () {
                  // Берем из таблицы обработчик для текущего состояния и исполняем его.
                  var processorName = CustomView.stateProcessors[this.state];
                  this.outputElement.html(
                      this[processorName](this.multiRouteModel, this.stateChangeEvent)
                  );
              },

              processInit: function () {
                  return "Инициализация ...";
              },

              processRequestSend: function () {
                  return "Запрос данных ...";
              },

              processSuccessRequest: function (multiRouteModel, e) {
                  var routes = multiRouteModel.getRoutes(),
                      result = ["Данные успешно получены."];
                  if (routes.length) {
                      result.push("Всего маршрутов: " + routes.length + ".");
                      for (var i = 0, l = routes.length; i < l; i++) {
                          result.push(this.processRoute(i, routes[i]));
                      }
                  } else {
                      result.push("Нет маршрутов.");
                  }
                  return result.join("<br/>");
              },

              processFailRequest: function (multiRouteModel, e) {
                  return e.get("error").message;
              },

              processRoute: function (index, route) {
                  // Берем из таблицы обработчик для данного типа маршрута и применяем его.
                  var processorName = CustomView.routeProcessors[route.properties.get("type")];
                  return (index + 1) + ". " + this[processorName](route);
              },

              processMasstransitRoute: function (route) {
                  // console.log(route);
                  var result = ["Маршрут на общественном транспорте."];
                  result.push(this.createCommonRouteOutput(route));
                  result.push("Описание маршута: <ul>" + this.createMasstransitRouteOutput(route) + "</ul>");
                  return result.join("<br/>");
              },

              // Метод, формирующий общую часть описания для всех типов маршрутов.
              createCommonRouteOutput: function (route) {
                  return "Протяженность маршрута: " + route.properties.get("distance").text + "<br/>" +
                      "Время в пути: " + route.properties.get("duration").text;
              },

              // Метод, строящий список текстовых описаний для
              // всех сегментов маршрута на общественном транспорте.
              createMasstransitRouteOutput: function (route) {
                  var result = [];
                  var transports = {
                    tramway: 'Трамвай',
                    trolleybus: 'Троллейбус',
                    bus: 'Автобус',
                    minibus: 'Маршрутка'
                  };
                  for (var i = 0, l = route.getPaths().length; i < l; i++) {
                      var path = route.getPaths()[i];
                      for (var j = 0, k = path.getSegments().length; j < k; j++) {
                        var point = path.getSegments()[j].properties;
                          result.push("<li>" + point.get("text") + "</li>");
                          if (point.get("transports") != undefined) {
                            console.log('***');
                            point.get("transports").forEach(function(transport) {
                                console.log(transports[transport.type] + ": " + transport.name);
                            });
                          }
                      }
                  }
                  return result.join("");
              },

              destroy: function () {
                  this.outputElement.remove();
                  this.multiRouteModel.events
                      .remove(["requestsuccess", "requestfail", "requestsend"], this.onModelStateChange, this);
              }
          });

          provide(CustomView);
      });

      function init () {
          // Создаем модель мультимаршрута.
          var multiRouteModel = new ymaps.multiRouter.MultiRouteModel([
              [55.1795, 61.3449]
          ], {
              // Тип маршрута: на общественном транспорте.
              routingMode: "masstransit",
              // Путевые точки можно перетаскивать.
              // Маршрут при этом будет перестраиваться.
              wayPointDraggable: true,
              boundsAutoApply: true
          });

          // Создаем карту с добавленной на нее кнопкой.
          var myMap = new ymaps.Map('map', {
                  center: [55.1795, 61.3449],
                  zoom: 16,
                  controls: ['routePanelControl']
              }, {
                  buttonMaxWidth: 1000
              }),

              // Создаем на основе существующей модели мультимаршрут.
              multiRoute = new ymaps.multiRouter.MultiRoute(multiRouteModel, {
                  // Путевые точки можно перетаскивать.
                  // Маршрут при этом будет перестраиваться.
                  wayPointDraggable: true,
                  boundsAutoApply: true
              });

          // Добавляем мультимаршрут на карту.
          myMap.geoObjects.add(multiRoute);

          var control = myMap.controls.get('routePanelControl');

          control.options.set({
              // Список всех опций см. в справочнике.
              maxWidth: '1000',
              float: 'left',
              // Задание заголовка для панели.
              title: 'Заголовок панели',
              // Включить отображение заголовка.
              showHeader: true
          });

          // Зададим состояние панели для построения машрутов.
          control.routePanel.state.set({
              // Тип маршрутизации.
              type: 'masstransit',
              // Выключим возможность задавать пункт отправления в поле ввода.
              fromEnabled: false,
              // Адрес или координаты пункта отправления.
              from: [55.1795, 61.3449],
              // Включим возможность задавать пункт назначения в поле ввода.
              toEnabled: true
          });

          // Зададим опции панели для построения машрутов.
          control.routePanel.options.set({
              // Запрещаем показ кнопки, позволяющей менять местами начальную и конечную точки маршрута.
              allowSwitch: true,
              // Включим определение адреса по координатам клика.
              // Адрес будет автоматически подставляться в поле ввода на панели, а также в подпись метки маршрута.
              reverseGeocoding: true,
              // Зададим виды маршрутизации, которые будут доступны пользователям для выбора.
              types: { masstransit: true }
          });

          // control.routePanel.geolocate('from');

          var multiRoutePromise = control.routePanel.getRouteAsync();

          multiRoutePromise.then(function(multiRoute) {
              // Подписка на событие обновления мультимаршрута.
              multiRoute.model.events.add('requestsend', function(e) {
                var newPath = e.get('referencePoints');
                if (newPath[1]) {
                  multiRouteModel.setReferencePoints(newPath);
                  ymaps.modules.require([
                      'MultiRouteCustomView'
                  ], function (MultiRouteCustomView) {
                      // Создаем экземпляр текстового отображения модели мультимаршрута.
                      new MultiRouteCustomView(multiRouteModel);
                  });
                } else {
                  $('#viewContainer').empty();
                }
              });
          }, function (err) {
            console.log(err); 
          });  
          var suggestView = new ymaps.SuggestView('suggest', {

              provider: {

                  suggest: (request, options) => {

                      return  ymaps.suggest("Челябинск, " + request);

                  }
              }
         
          });

      }

      ymaps.ready(init);

    </script>
    <script>

      $(document).on('click', '#update', e => {
        getAPI();
      });

      getAPI();

      function getAPI() {

        $.get('./chelgortrans.txt', response => {

          let state = {
            update: new Date(),
            date: '',
            time: '',
            point: '',
            list: []
          };

          _.each(response.split('\n'), item => {
            if (item) {
              let key = item.split('=')[0];
              let val = item.split('=')[1];

              if (key === 't') {
                let value = noQ(val);
                state.date = value.split(' ')[0];
                state.time = value.split(' ')[1];
              } else if (key === 's1') {
                state.point = noQ(val.split(',')[2]);
              } else if (key === 'm') {
                parseRoutes(noQ(val), state);
              } else {
                console.log('Непонятно что: '+item);
              }
            }
          });

          let compiled = _.template(document.getElementById('template').textContent);
          document.getElementById('api').innerHTML = compiled(state);

          function parseRoutes(str, state) {
            let key = str.split(';')[0];
            let val = str.split(';')[1];
            // let list = {
            //   'АВ': 'Автобус',
            //   'ТБ': 'Троллейбус'
            // };
            state.list.push({
              // type: list[key.slice(0, 2)],
              type: key.slice(0, 2),
              name: key.slice(2, key.length),
              time: val.slice(0, val.length - 1) + ' мин.'
            });
          }

          function noQ(str) {
            // убираем кавычки
            return str.slice(1, (str.length - 2));
          }

        });

      }

    </script>
    <script id='template' type="text/template">
      <h4>Остановка <%= point %> (<%= date %> - <%= time %>)</h4>
      <p>Обновлено: <%= update %></p>
      <ul class="mdl-list">
        <% _.each(list, item => { %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <%= item.type %>№<%= item.name %> через <%= item.time %>
            </span>
          </li>
        <% }); %>
      </ul>
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div class="mdl-textfield mdl-js-textfield">
        <input id="suggest" class="mdl-textfield__input" type="text">
        <label class="mdl-textfield__label" for="suggest">Поиск по Челябинску</label>
      </div>
      <button id="update" class="mdl-button mdl-button--raised mdl-button--colored" type="button">Обновить информацию</button>
      <div id="api"></div>
      <div id="viewContainer"></div>
      <div id="map"></div>
    </div>
  </body>
</html>
