<div id="superlist" class="tabs">
  <div class="l-wrapper">
    <div class="tabs__buttons">
      @for (tab of tabs; track index; let index = $index) {
        <div
          class="tabs__button"
          [class.b-active]="index === active"
          (click)="active = index"
        >
          около {{ tab[0] }} МИН
        </div>
      }
    </div>
    <div class="tabs__detail">
      <ul class="tabs__list">
        <li class="tabs__item">{{ tabs[active][1] }}</li>
      </ul>
    </div>
  </div>
</div>
