@if (tabs.length) {
  <div class="tabs">
    <div class="l-wrapper">
      <div class="tabs__buttons">
        @for (tab of tabs; track index; let index = $index) {
          <div
            class="tabs__button"
            [class.b-active]="index === active"
            (click)="onClick(index)"
          >
            {{ tab.duration }}, {{ tab.distance }}
          </div>
        }
      </div>
      @if (tabs[active].list.length) {
        <div class="tabs__detail">
          <ul class="tabs__list">
            @for (text of tabs[active].list; track text) {
              <li class="tabs__item">{{ text }}</li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}
