@import '../../../grid';

.search {
  background-color: rgba(8, 74, 196, 0.25);

  &__wrapper {
    @include row-flex();
    justify-content: space-between;
    align-items: center;
    height: 170px;

    *:only-child {
      width: 100%;
    }
  }

  &__link {
    @include col();
    @include size(24);
  }

  &__input {
    width: 900px;
    height: 80px;
    border-radius: 14px;
    background-color: var(--c-white);
    color: var(--c-black);
    font-size: 37px;
    font-weight: 500;
    line-height: 37px;
    padding: 25px;
    box-sizing: border-box;
    border: 0;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: var(--color-blue2);
      font-size: 35px;
      font-weight: 400;
    }

    &:placeholder-shown {
      padding-left: 80px;
      background-image: url('/svg/search.svg');
      background-repeat: no-repeat;
      background-position: 25px center;
    }
  }
}
