mixin route-detail-item(point)
  li.route-detail__item(class=point.class) #{point.name}

mixin route-detail()
  .route-detail
    .l-wrapper
      .route-detail__body(data-simplebar)
        ul.route-detail__list
          each point in content.routeDetail
            +route-detail-item(point)
