.btn-route
  width 100%
  max-width 240px
  height 80px
  border-radius 14px
  opacity 0.85
  color c-white
  font-size 45px
  font-weight 400
  letter-spacing 1.35px
  text-align left
  padding-left 90px
  background-repeat no-repeat
  background-position 25px center
  &--short
    max-width 180px
    height 60px
    font-size 35px
    letter-spacing 1.05px
    padding-left 70px
    background-size 30px
  &--bus
    background-color cp-red1
    opacity .7
    background-image url(images/svg/bus.svg)
  &--trol
    background-color cp-blue3
    opacity .85
    background-image url(images/svg/trol.svg)


.btn-search
  width 100%
  &__button
    width 100%
    height 80px
    border-radius 14px
    background-color cp-blue2
    color c-white
    font-size 40px
    font-weight 400


.btn-back
  &__button
    width 46px
    height 74px
    opacity 0.25
    background-image url(images/svg/arrow.svg)
    background-size contain
