<div class="ll-marker" [class]="['ll-marker--' + type]">
  <div
    class="ll-marker__img js-marker-azimuth"
    [attr.data-id]="id"
    [style.transform]="'rotate(' + azimuth + 'deg)'"
  >
    <svg viewBox="0 0 116 167">
      <g transform="translate(-3043 3887)">
        <circle
          cx="58"
          cy="58"
          r="58"
          transform="translate(3043 -3720) rotate(-90)"
        />
        <path
          d="M0,0H0a57.721,57.721,0,0,1,9.759,32.21A57.72,57.72,0,0,1,0,64.425L50.762,32.211Z"
          transform="translate(3068.789 -3836.239) rotate(-90)"
        />
      </g>
    </svg>
  </div>
  <div class="ll-marker__number">
    <span>{{ number }}</span>
  </div>
</div>
