mixin route-short-item(route)
  - var time = (route.time) ? (route.time + ' мин') : '';
  a.route-short__item(href="./03.php")
    .route-short__button
      +button-route-short(route.number, route.type)
      .route-short__time #{time}

mixin route-short()
  .route-short
    .l-wrapper#short
      //- +empty()
      //- .route-short__wrapper
        - for (var i = 0; i < 6; ++i)
          +route-short-item(content.routeList[i])
