mixin templates()
  #templates
    script(type="text/template", data-name="all")
      include ./all.tpl
    script(type="text/template", data-name="list")
      include ./list.tpl
    script(type="text/template", data-name="short")
      include ./short.tpl
    script(type="text/template", data-name="empty")
      include ./empty.tpl
    script(type="text/template", data-name="marker")
      include ./marker.tpl
